.hero {
  background-color: #2e2f42;
  text-align: center;
  padding: 188px 0;
}

.hero-title {
  font-size: 56px;
  color: #ffffff;
}

.hero-button {
  background-color: #4d5ae5;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.hero-button:hover {
  background-color: #404bbf;
}